body {
    font-size: 18px;
}

header,footer {
    background-color: aquamarine;
}

ol li {
    list-style-type: square;
}

ol li:nth-child(odd) {
     background-color:  coral;
    }
   
nav ul {
    list-style-type: none;
} 