

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@media screen and (max-width: 760px) {
  /* styles for screens smaller than 768px */

  /* Within this media query, styles are defined for screens smaller than 760px.
The .container class is set to 100% width to occupy the full width of smaller screens.
The .nav-list class styles the navigation menu for smaller screens:
Flex-direction is changed to column to stack items vertically.
align-items and background-color are adjusted. */

  .container {
    width: 100%;
  }

/* 
  This media query targets screens with a minimum width of 760px.
The .container class is adjusted to have a maximum width of 1200px with left and right padding.
The .nav-list class is restyled for larger screens:
Display is set to flex to create a horizontal layout.
Items are justified with justify-content: space-between to distribute them evenly.
.logo and .search classes are styled for larger screens. */

.list {
  flex-direction: column;
  align-items: flex-start;
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  background-color: #222;
  padding: 10px;
}

.logo {
  width: 80px;
  height: auto;
  background-color: #c78c06;
}

.search {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

.nav-list {
  align-items: center;
  flex-direction: column;
  /* display: flex; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #222;
}

.nav-list li {
  margin: 10px 0;
  margin: 0 20px; /* Increase the margin to spread out the list items */
}

.nav-list a {
  color: #c78c06;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  text-decoration: none;
}

.nav-list a:hover {
  color: #222; /* Change the text color to black when you hover over the nav links */
  background-color: orange; /* Add a background color to the nav links when you hover over them */
  border-radius: 5px; /* Add some rounded corners to the nav links when you hover over them */
}
/* 
Positioned elements within the .home class are styled with absolute positioning for layout.
The h1 tag within .home has a background color and is positioned using transform to center it.
.connect-button and .button-2 are positioned absolutely below the text with specific padding and background colors. */

.home {
  position: relative;
  width: 100%;
}

.home img {
  width: 100%;
  height: auto;
}

.home h1 {
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px 30px;
  font-size: 30px;
}

.home p {
  position: absolute;
  top: 44%; /* Adjust this value as needed */
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  font-size: 15px;
  z-index: 1; /* Ensure it's above the image */
}

.connect-button {
  position: absolute;
  top: 70%; /* Adjust this value to position below the home p */
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #c78c06;
  color: #222;
  padding: 30px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2; /* Ensure it's above home p */
  font-size: 1rem;
  width: 200px;
}

.button-2 {
  position: absolute;
  top: 64.3%; /* Adjust this value to position below the connect-button */
  left: 4%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 70px;
  width: 64%;
  z-index: 1; /* Ensure it's above home p */
}



.about-us {
  /* display: flex;
  align-items: flex-start; */
  background-color: #ffe6ac;
}

.about-us img {
  /* width: 40%;
  margin-right: 5%; */
  background-color: #ffe6ac;
}

.about-us div {
  width: 50%;
  margin-top: 0;
}

.about-us h1 {
  margin-bottom: 0;
}

.about-us p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.grid-container {
  /* display: grid;
  justify-content: space-evenly; */
  /* gap: 10px 20px; */
  /* grid-template-columns: auto auto auto; */
  background-color: white;
  padding: 5px;
}
/* .grid-container: Styles a container for a grid layout.
.grid-item: Styles items within the grid layout. */

.grid-item {
  background-color: #ffe6ac;

  padding: 9px;
  font-size: 14px;
  text-align: center;
}

.card {
  background-color: #ffe6ac;
  padding: 7px;
  font-size: 14px;
  /* text-align: center;
  grid-column: span 1; */
}

.digital-button,
.marketing-button,
.video-button,
.web-button,
.print-button {
  background-color: #222;
  color: white;
  font-size: 2rem; /* Increase the font size */
  padding: 1rem 2rem; /* Increase the padding */
}


.vision-wrapper h1 {
  position: absolute;
  top: 560%;
  left: 16%;
  color: white;
  margin-bottom: 1rem;
  font-size: 40px;
}

.vision-wrapper p {
  position: absolute;
  top: 580%;
  left: 7%;
  color: white;
  margin-bottom: 1rem;
  font-size: 20px;
}

.vision-wrapper button {
  position: absolute;
  top: 600%;
  left: 16%;
  background-color: #222;
  color: white;
  padding: 2rem 5rem;
  border: #c78c06; 
  border-radius: 5px;
  cursor: pointer;
  font-size:20px;
}

.team-wrapper {
  margin: 0;
  width: 100%;
 
  padding: 0;
  background-color: #ffe6ac;
}

.team-members {
 
 
 position: relative;
  top: 70%; /* Align the top edge of the h1 and p elements to the middle of the container */
  
}

.team-box {
  
  height: auto;
 ;
  box-sizing: border-box;

}

.team-box img {


  position: relative;
  top: 1%;
}

.team-box:nth-child(2), .team-box:nth-child(4) {

  margin: 0%;
}

.team-box:nth-child(3) {
  order: 1;
}




body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.location {
  max-width: 600px;

  padding: 40px;

  float: left; /* Add this line */
  width: 100%;
}

.map {
  width: 100%;
  height: auto;

  border: 0; /* Add this line */
}
/* .contact-us: Styles the container for the "Contact Us" section.
.contact-us h1, .contact-us h2: Styles headings within the "Contact Us" section.
.contact-us form: Styles the form within the "Contact Us" section.
.contact-us label: Styles labels for form elements.
.contact-us input[type="text"], .contact-us textarea: Styles input fields and text areas.
.contact-us .send: Styles the send button within the contact form. */

.contact-us {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  float: left; /* Add this line */
  width: 50%; /* Add this line */
}

.contact-us h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 20px;
}

.contact-us h2 {
  font-size: 1.5rem;
  font-weight: 700;
 
  margin-bottom: 30px;
}

.contact-us form {
  margin-bottom: 30px;
}

.contact-us label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-us input[type="text"],
.contact-us textarea {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  
 
  margin-bottom: 20px;
}

.contact-us textarea {
  height: 150px;
}

.contact-us .send {
  display: block;

  padding: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #c78c06;
  background-color: #222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-us .send:hover {
  background-color: #222;
}

.hours-table {
  font-size: 14px;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px open-sans;
  width: 100%; /* Add this line */
 
}
.hours-table thead th {
  background-color: #ffe6ac;
  border: solid 1px #222;

  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.hours-table tbody td {
  border: solid 1px ;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
/* footer: Styles the footer section of the webpage. */
footer {
  background-color: #222;
  color:#c78c06;
  padding: 20px;
  text-align: center;
}
}

/* Original CSS styles for desktop */

/* Add a media query for screen widths up to 760px */



/* Media Query for Tablet/Desktop View (760px and above) */

@media (min-width: 760px) {
  /* Contains media queries for responsive design, adjusting styles based on screen width.
  Each section has specific styles applied to its elements to achieve a desired layout and appearance. The detailed comments within the CSS provide information on what each section of the styles is targeting and how they affect the visual presentation of the webpage. */
 
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
  }

 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* Header Styles */
 .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 0;
  }

 .nav-list li {
    margin-right: 20px;
  }

 .nav-list a {
    color: #c78c06;
    text-decoration: none;
    font-weight: 600;
  }

 .logo {
    width: 80px;
    height: auto;
  }

 .search {
    padding: 8px;
    width: 200px;
    font-size: 16px;
  }

  /* Home Section Styles */
 .home {
    text-align: center;
    padding: 50px 0;
  }

 .home h1 {
 
  position: absolute;
  top: 65%;
  left: 16%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px 30px;
    font-size: 70px;
  }

 .home p {
  position: absolute;
  top: 80.9%;
  left: 16%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: 20px;
    z-index: 1;
  }

 .connect-button {
  position: absolute;
  top: 91%;
  left: 16%;
    background-color: #c78c06;
    color: #222;
    padding: 30px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 1rem;
    width: 200px;
  }

 .button-2 {
  position: absolute;
  top: 90.5%;
  left: 16%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 70px;
    width: 64%;
    z-index: 1;
  }
  /* .about-us: Styles the container for the "About Us" section.
  .about-us img: Styles images within the "About Us" section.
  .about-us h1: Styles the heading within the "About Us" section.
  .about-us p: Styles the paragraph within the "About Us" section.
  About Us Section Styles */

 .about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #ffe6ac;
  }

 .about-us img {
    width: 45%;
    height: auto;
  }

 .about-us h1 {
    font-size: 36px;
    color: #222;
  }

  /* Our Services Section Styles */
  /* .our-services: Styles the container for the "Our Services" section.
.digital-button, .marketing-button, .video-button, .web-button, .print-button: Styles specific buttons related to services. */
 .our-services {
    padding: 50px 0;
  }

 .our-services h1 {
    text-align: center;
    color: #222;
  }

  .digital-button,
.marketing-button,
.video-button,
.web-button,
.print-button {
  background-color: #222;
  color: white;
  font-size: 2rem; /* Increase the font size */
  padding: 1rem 2rem; /* Increase the padding */}

 .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  

 .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #ffe6ac;
  }

 .grid-item h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  /* .vision-wrapper: Styles a wrapper for the "Vision" section.
  .vision-wrapper h1: Styles the heading within the "Vision" section.
  .vision-wrapper p: Styles the paragraph within the "Vision" section.
  .vision-wrapper button: Styles a button within the "Vision" section. */
  
  .vision-img {
    position: relative;
    width: 100%

  }
  
  .vision-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
  }
  
  .vision-wrapper h1 {
    position: absolute;
    top: 142%;
    left: 16%;
    color: white;
    margin-bottom: 1rem;
    font-size: 90px;
  }
  
  .vision-wrapper p {
    position: absolute;
    top: 430%;
    left: 7%;
    color: white;
    margin-bottom: 1rem;
    font-size: 20px;
  }
  
  .vision-wrapper button {
    position: absolute;
    top: 600%;
    left: 16%;
    background-color: #222;
    color: white;
    padding: 3rem 6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
  }

  /* Team Section Styles */
  /* .team-wrapper: Styles the container for the "Team" section.
.team-members: Styles the member container within the "Team" section.
.team-box: Styles individual team member boxes. */

 .team-wrapper {
    background-color: #ffe6ac;
    margin: 0 10rem;
    padding: 0;
  }

 .team-members {
    display: flex;
    flex-wrap: wrap;
  }

 .team-box {
  box-sizing: border-box;

    width: 50%;
    height: 325px;
  }

 .team-box img {
    height: 320px;
  }

  .team-box:nth-child(2),
  .team-box:nth-child(4) {
    margin: 0;
  }

  .team-box:nth-child(3) {

    order: 1;
  }


  /* Contact Us Section Styles */





 .contact-us {
    width: 50%;
    float: left;
    padding: 40px;
    background-color: #fff;
  }

 .contact-us h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
  }

 .contact-us h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 30px;
  }

 .contact-us form {
    margin-bottom: 30px;
  }


.contact-us label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-us input[type="text"],
.contact-us textarea {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  
 
  margin-bottom: 20px;
}

.contact-us textarea {
  height: 150px;
}

.contact-us .send {
  display: block;

  padding: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #c78c06;
  background-color: #222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-us .send:hover {
  background-color: #222;
}

.location {

  background-color: #fff;
}
/* location: Styles the location container.
.map: Styles the map element. */
.map {
  position: absolute;
 bottom:-455% ;
  left: 63%;

   height: 500px; /* Set the height to be the same as the .contact-us section */ 
}
/* .hours-table: Styles a table for displaying hours of operation. */
.hours-table {
  font-size: 14px;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px open-sans;
  width: 100%; /* Add this line */
  background-color: #fff;
 
}
.hours-table thead th {
  background-color: #ffe6ac;
  border: solid 1px #222;

  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.hours-table tbody td {
  border: solid 1px ;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
footer {
  background-color: #222;
  color:#c78c06;
  padding: 20px;
  text-align: center;
}
}

